# Environment variables
*.env

# Do not include compiler cachce from non IDE compilations
__pycache__

# Do not include installer and binaries into the repository
build/
*.spec
dist/

# Block IDE custom files
.idea
.idea/*

# Python environments
venv/

# Configuration files
config.json