DISCORD_BOT_TOKEN=your-bot-token-here
CHANNEL_ID=your-channel-id-here
TEST_CHANNEL_ID=your-channel-for-testing-id-here-if-needed
DB_CONNECTION_STRING=mongodb+srv://user:password@your-cluster.mongodb.net/your-database
